/* General Styles */

* {
    margin: 0;
    padding: 0;
}

body {
    /* background-color: #ecf0f1; */
    background: radial-gradient(black 3px, transparent 4px), radial-gradient(black 3px, transparent 4px), linear-gradient(#fff 4px, transparent 0), linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px), linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px), #fff;
    background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    color: #000000;
    font-family: 'Manjari', sans-serif;
}
.cbody{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.cheader{
    padding: 50px;
    text-align: center;
    background-color: #1e272e;
}

/* HEADER */
nav{
    display: flex;
    flex-direction: row;
    background-color: #1e272e;
}
nav a {
    color: white;
    padding:  14px 20px;
}

.title h1 {
    padding: 20px 0;
    text-align: center;
    font-size: 2.9em;
    text-transform: uppercase;
}
/*sobre mi*/
.grid2{
    display: grid;
    grid-template-columns: 40% 60% ;
    grid-template-rows:   80vh  ;
}
.pp{
    padding: 20px;
    text-align: center;
    color: #233839;
    

}

/*noticias*/
main{
    margin: 0 ;
    padding:0;
    background-color: white;

}

.grid{
    gap: 5px;
    display: grid;
    grid-template-columns: 40% 60% ;
    grid-template-rows:  40vh 40vh  ;
}

footer{
    grid-column: 1/-1;
    background-color: #1e272e;
    color: #ffffff;
    height: 30px;
}
div{
    margin: 5px;
}
.fotos
{
   width: 100%;
   height: 100%;
   object-fit: cover;

}
.ff
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: 300;
}

.fa
{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #2d3436;
}
    


/*formulario*/
/*estilos secion-contacto*/
.secion {
    margin: 0;
    padding: 0;
    font-family:montserrat;
    background:linear-gradient(150deg, #395b5c,  #233839
    ); 
    height:  100vh; 
}
.formulario
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    background: white;
    border-radius: 10px;
}
.formulario h6
{
    text-align: center;
    padding:0 0 20px 0 ;
    border-bottom: 1px solid silver;
}
.formulario form{
    padding: 0 40px;
    box-sizing: border-box;
}
 form .username
 {
     position:relative;
     border-bottom: 2px solid #adadad;
     margin: 30px 0;
 }
 .username input{
     width: 100%;
     padding: 0 5px;
     height: 40px;
     font-size: 16px;
     border: none;
     background: none;
     outline: none;
 }
 .username label{
     position: absolute;
     top: 50%;
     left: 5px;
     color: #adadad;
     transform: translateY(50%);
     font-size: 16px;
     pointer-events: none;
     transition: 5s;
 }

/* CONTAINER */

.container {
    width: 90%;
    max-width: 1000px;
    margin: 1.6em auto;
    display: grid;
    gap: 1.6em;
    /* grid-template-columns: repeat(4, 1fr) 3%; */
    grid-template-columns: repeat(5, 1fr);
}

.container>.header, .container>.content, .container>.sidebar, .container>.footer, .container>div {
    background: #fff;
    padding: 20px;
    border: 1px solid #000000;
}

.container>.header, .container>.footer {
    grid-column: 1/-1;
    background-color: #1e272e;
    color: #ffffff;
}

.container>.content {
    grid-column: span 3;
    grid-row: span 4;
}

.content>.article {
    background: #808e9b;
    padding: 20px;
    margin-top: 5px;
    color: #dfe6e9
}

.content .article h1,
.content .article p {
    padding: 10px;
}

.container>.sidebar {
    grid-column: span 2;
    grid-row: span 4;
    background: #485460;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .sidebar img {
    display: block;
    width: 100%;
    margin-top: 5px;
}

.container>.related-post {
    background: #2d3436;
    color: #ffffff;
    height: 180px;
    ;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}

.container>.related-post:hover {
    cursor: pointer;
    color: #000000;
    background: #ffffff;
}

/* media queries */

@media (max-width:720px)
{

 .grid{
  grid-template-columns: 80vh;
  grid-template-rows: 40vh 40vh;
  

 }
}

@media screen and (max-width: 768px) {
    .header {
        text-align: center;
    }
    .container .content {
        grid-column: 1 / -1;
    }
    .container .sidebar {
        grid-column: 1 / 6;
    }

    .container .related-post {
        grid-column: 1/-1;
    }

